--
-- PostgreSQL database dump
--

\restrict J2U96y4bQuNfiP4HWBl3VgyCF3PbuxZjaG6nftprWKhBbZXvFknlzcYQngH4eGY

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id integer NOT NULL,
    course_code text NOT NULL,
    title text NOT NULL,
    credits integer,
    department text
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.courses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO postgres;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.courses.id;


--
-- Name: optimizer_weights; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.optimizer_weights (
    id integer NOT NULL,
    professor_rating_weight smallint NOT NULL,
    compactness_weight smallint NOT NULL,
    time_preference_weight smallint NOT NULL,
    preferred_compactness smallint NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    user_id integer DEFAULT 1 NOT NULL,
    CONSTRAINT optimizer_weights_compact_check CHECK (((preferred_compactness >= 0) AND (preferred_compactness <= 100))),
    CONSTRAINT optimizer_weights_sum_check CHECK ((((professor_rating_weight + compactness_weight) + time_preference_weight) = 100))
);


ALTER TABLE public.optimizer_weights OWNER TO postgres;

--
-- Name: optimizer_weights_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.optimizer_weights_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.optimizer_weights_id_seq OWNER TO postgres;

--
-- Name: optimizer_weights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.optimizer_weights_id_seq OWNED BY public.optimizer_weights.id;


--
-- Name: professors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.professors (
    id integer NOT NULL,
    name text NOT NULL,
    rmp_id text,
    overall_rating numeric(3,1),
    num_ratings integer DEFAULT 0,
    difficulty numeric(3,1),
    adjusted_rating numeric(5,4),
    rmp_scraped_at timestamp without time zone,
    department text
);


ALTER TABLE public.professors OWNER TO postgres;

--
-- Name: professors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.professors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professors_id_seq OWNER TO postgres;

--
-- Name: professors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.professors_id_seq OWNED BY public.professors.id;


--
-- Name: saved_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_schedules (
    id integer NOT NULL,
    label text NOT NULL,
    term text NOT NULL,
    score numeric(5,2),
    crns text[],
    created_at timestamp without time zone DEFAULT now(),
    professor_score numeric(10,5),
    compactness_score numeric(10,5),
    slot_score numeric(10,5),
    rank_snapshot integer,
    sections_json jsonb,
    user_id integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.saved_schedules OWNER TO postgres;

--
-- Name: saved_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.saved_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_schedules_id_seq OWNER TO postgres;

--
-- Name: saved_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.saved_schedules_id_seq OWNED BY public.saved_schedules.id;


--
-- Name: sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sections (
    id integer NOT NULL,
    course_id integer,
    professor_id integer,
    crn text,
    semester text NOT NULL,
    meeting_days text[],
    start_time time without time zone,
    end_time time without time zone,
    location text,
    capacity integer,
    enrolled integer,
    scraped_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sections OWNER TO postgres;

--
-- Name: sections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sections_id_seq OWNER TO postgres;

--
-- Name: sections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sections_id_seq OWNED BY public.sections.id;


--
-- Name: time_preferences; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.time_preferences (
    id integer NOT NULL,
    day text NOT NULL,
    time_slot text NOT NULL,
    preference smallint NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    user_id integer DEFAULT 1 NOT NULL,
    CONSTRAINT time_preferences_day_check CHECK ((day = ANY (ARRAY['Mon'::text, 'Tue'::text, 'Wed'::text, 'Thu'::text, 'Fri'::text]))),
    CONSTRAINT time_preferences_pref_check CHECK ((preference = ANY (ARRAY[0, 1, 2])))
);


ALTER TABLE public.time_preferences OWNER TO postgres;

--
-- Name: time_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.time_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.time_preferences_id_seq OWNER TO postgres;

--
-- Name: time_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.time_preferences_id_seq OWNED BY public.time_preferences.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name text,
    email text,
    university text DEFAULT 'Georgia State University'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: courses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: optimizer_weights id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimizer_weights ALTER COLUMN id SET DEFAULT nextval('public.optimizer_weights_id_seq'::regclass);


--
-- Name: professors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professors ALTER COLUMN id SET DEFAULT nextval('public.professors_id_seq'::regclass);


--
-- Name: saved_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_schedules ALTER COLUMN id SET DEFAULT nextval('public.saved_schedules_id_seq'::regclass);


--
-- Name: sections id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections ALTER COLUMN id SET DEFAULT nextval('public.sections_id_seq'::regclass);


--
-- Name: time_preferences id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_preferences ALTER COLUMN id SET DEFAULT nextval('public.time_preferences_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0001
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: optimizer_weights; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.optimizer_weights (id, professor_rating_weight, compactness_weight, time_preference_weight, preferred_compactness, updated_at, user_id) FROM stdin;
1	58	0	42	100	2026-06-12 17:38:28.98405-04	1
\.


--
-- Data for Name: professors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: saved_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sections; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: time_preferences; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, university, created_at) FROM stdin;
1	Default User	default@coursely.app	Georgia State University	2026-04-17 18:31:15.847075-04
\.


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_id_seq', 21140, true);


--
-- Name: optimizer_weights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.optimizer_weights_id_seq', 1, true);


--
-- Name: professors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.professors_id_seq', 18996, true);


--
-- Name: saved_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.saved_schedules_id_seq', 9, true);


--
-- Name: sections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sections_id_seq', 21140, true);


--
-- Name: time_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.time_preferences_id_seq', 2610, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 9, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: courses courses_course_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_course_code_key UNIQUE (course_code);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: optimizer_weights optimizer_weights_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimizer_weights
    ADD CONSTRAINT optimizer_weights_pkey PRIMARY KEY (id);


--
-- Name: professors professors_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professors
    ADD CONSTRAINT professors_name_key UNIQUE (name);


--
-- Name: professors professors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professors
    ADD CONSTRAINT professors_pkey PRIMARY KEY (id);


--
-- Name: saved_schedules saved_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_schedules
    ADD CONSTRAINT saved_schedules_pkey PRIMARY KEY (id);


--
-- Name: sections sections_crn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_crn_key UNIQUE (crn);


--
-- Name: sections sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_pkey PRIMARY KEY (id);


--
-- Name: time_preferences time_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_preferences
    ADD CONSTRAINT time_preferences_pkey PRIMARY KEY (id);


--
-- Name: time_preferences time_preferences_user_day_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_preferences
    ADD CONSTRAINT time_preferences_user_day_slot UNIQUE (user_id, day, time_slot);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_optimizer_weights_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_optimizer_weights_user ON public.optimizer_weights USING btree (user_id);


--
-- Name: idx_saved_schedules_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_saved_schedules_user ON public.saved_schedules USING btree (user_id);


--
-- Name: idx_sections_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sections_course ON public.sections USING btree (course_id);


--
-- Name: idx_sections_professor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sections_professor ON public.sections USING btree (professor_id);


--
-- Name: idx_sections_semester; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sections_semester ON public.sections USING btree (semester);


--
-- Name: idx_time_preferences_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_time_preferences_user ON public.time_preferences USING btree (user_id);


--
-- Name: optimizer_weights optimizer_weights_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.optimizer_weights
    ADD CONSTRAINT optimizer_weights_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: saved_schedules saved_schedules_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_schedules
    ADD CONSTRAINT saved_schedules_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: sections sections_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: sections sections_professor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sections
    ADD CONSTRAINT sections_professor_id_fkey FOREIGN KEY (professor_id) REFERENCES public.professors(id) ON DELETE SET NULL;


--
-- Name: time_preferences time_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_preferences
    ADD CONSTRAINT time_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict J2U96y4bQuNfiP4HWBl3VgyCF3PbuxZjaG6nftprWKhBbZXvFknlzcYQngH4eGY

